h1 {
  font-size: 30px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}

h2 {
  font-size: 25px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}

h3 {
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}

body {
  margin: 0;
  background-color: #f9fafc;
  color: #333333;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.6875rem;
}

main {
  display: flex;
  width: 100%;
  height: 100vh;
}

/* Media Queries Mixin
**********************/
.contenedor--home {
  inline-size: 100%;
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 992px) {
  .contenedor--home {
    margin: 0 auto;
    inline-size: 1400px;
    block-size: 1200px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}
@media only screen and (max-width: 768px) {
  .contenedor--home {
    padding: 0 20px 20px 20px;
    display: grid;
    grid-template: repeat(4, max-content)/1fr;
    gap: 20px;
    block-size: auto;
  }
  .contenedor--home .caja-ff,
.contenedor--home .caja-xbox,
.contenedor--home .caja-zelda,
.contenedor--home .caja-fortnite {
    display: none;
  }
}

.caja--grande {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
}
@media only screen and (max-width: 768px) {
  .caja--grande {
    grid-row: 1;
    grid-column: 1;
    margin: 0;
  }
}

.banner--homepage {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
}
@media only screen and (max-width: 768px) {
  .banner--homepage {
    grid-row: 4;
    grid-column: 1;
  }
}

.sidebar--listado {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3/5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}
@media only screen and (max-width: 768px) {
  .sidebar--listado {
    grid-row: 2;
    grid-column: 1;
  }
}

.caja-zelda {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
}

.caja-rdr2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
}
@media only screen and (max-width: 768px) {
  .caja-rdr2 {
    grid-row: 3;
    grid-column: 1;
    max-inline-size: 100%;
  }
}

.caja-ff {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.caja-fortnite {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

.caja-xbox {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
}